<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/" >LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Daftar Belanjaan</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>Item</span>
        </div>
        <% const items = [
          {id: 1, name: 'Bambang'},
          {id: 2, name: 'Gentolet'},
        ]; %>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <span class="id-column"><%= item.id %></span>
              <span class="name-column"><%= item.name %></span>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
